<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <% console.log(getHome) %>
    <p>Click Product name to show detail.</p>
    <table border="1">
        <thead>
            <tr>
                <td>No.</td>
                <td>Image</td>
                <td>Name</td>
                <td>Type</td>
                <td>Brand</td>
                <td>Price</td>
                <td>Seller</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <% getHome.forEach((el, index) => { %>
                <% let {id, name, description, price, brand, image, CategoryId, UserId} = el.dataValues %>
                <tr>
                    <td><%= ++index %></td>
                    <td><img src="<%= image %>" alt=""></td>
                    <td><a href="/product/<%= id %>"><%= name %></a></td>
                    <td><%= brand %></td>
                    <td><%= el.Category.dataValues.name %></td>
                    <td><%= formatRupiah(price) %></td>
                    <td><a href="/">Showroom <%= brand %></a></td>
                    <td>
                        <a href="/product/<%= id %>/buy">Buy</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>