<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('partials/_navbar', { userId, role }) %>
    <%- include('partials/_footer', { title: 'JualMobil.com' }) %> 
    <br>
    <% //console.log(userId, role); %>
    <p>Click on product name to show details.</p>
    <form action="" method="get">
        <select name="type">
            <option value="" selected disabled>Type..</option>
            <option value="ASC">Ascending</option>
            <option value="DESC">Descending</option>
        </select>
        <select name="sortBy">
            <option value="" selected disabled>Sort By...</option>
            <option value="name">Name</option>
            <option value="price">Price</option>
        </select>
        <input type="submit" value="Sort">
    </form>
    <form action="" method="get">
        <select name="search">
            <option value="" selected disabled>Choose search by...</option>
            <option value="byName">Search by Name</option>
            <option value="byBrand">Search by Brand</option>
        </select>
        <input type="text" name="param" placeholder="Enter your search here...">
        <input type="submit" value="Search">
    </form>
    <table border="1">
        <thead>
            <tr>
                <td>No.</td>
                <td>Image</td>
                <td>Name</td>
                <td>Type</td>
                <td>Brand</td>
                <td>Price</td>
                <td>Seller</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <% getHome.forEach((el, index) => { %>
                <% let {id, name, description, price, brand, image, CategoryId, UserId} = el.dataValues %>
                <tr>
                    <td><%= ++index %></td>
                    <td><img src="<%= image %>" alt=""></td>
                    <td><a href="/product/<%= id %>"><%= name %></a></td>
                    <td><%= el.Category.dataValues.name %></td>
                    <td><%= brand %></td>
                    <td><%= currencyFormat(price) %></td>
                    <td><a href="/?search=byBrand&param=<%= brand %>">Showroom <%= brand %></a></td>
                    <td>
                        <a href="/product/<%= id %>/buy">Buy</a>
                        |
                        <a href="/product/<%= id %>/addToCart">Add To Cart</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
</body>
</html>