<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seller Profile</title>
</head>
<body>
  <h1>Seller Profile</h1>
  <% const { firstName, lastName, age, phoneNumber, address, balance, UserId, picture } = seller %>
  <h2>Welcome, <%= firstName %> <%= lastName %>!</h2>
  <img src="<%= picture %>">
  <br><br>
  <h3>Your information</h3>
  <p>Age: <%= age %></p>
  <p>Phone Number: <%= phoneNumber %></p>
  <p>Address: <%= address %></p>
  <p>Balance: <%= balance %></p>
</body>
</html>